/* General definations */

html {
  font-family: 'Montserrat', 'Helvetica', 'sans-serif';
  font-size: 16px;
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: hsl(84, 50%, 92%);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

img {
  width: 100%;
}

video {
  width: 100%;
  border-radius: 4px;
}

.container {
  padding: 2rem 0 2rem 1.5rem;
  overflow: hidden;
}

.container .left_row {
  width: 60%;
}

.container .right_row {
  width: 40%;
  display: flex;
  padding-left: 1.5rem;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

.green_background {
  background-color: HSL(143, 61%, 73%);
  border-radius: 5px;
}

/* Desktop Header */

header {
  display: flex;
  height: 4rem;
  padding: 0 1.5rem;
  justify-content: space-between;
}

.logo {
  align-content: center;
}

.logo a {
  display: flex;
  align-items: center;
  transition: font-size 1s ease;
}

.logo a:hover {
  font-size: 1.2rem;
}

.logo_dark {
  font-weight: bold;
}

nav {
  align-items: center;
  flex-wrap: wrap;
  min-width: 30rem;
  justify-content: space-between;
  font-weight: bold;
}

nav a {
  padding: 0 5px 3px 5px;
  transition: border-bottom 0.5s ease;
}

nav a:hover {
  border-bottom: 5px solid rgba(36, 0, 0, 0.2);
}

/* Banner */

.banner h1 {
  padding: 1rem 0rem;
}

.banner h2 {
  padding: 1rem 0rem 1.5rem 0rem;
}

.banner img {
  border-radius: 4px;
}

.banner .learn_daily {
  width: 35%;
}

.banner .start_here_button {
  width: 100%;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  line-height: 1.2;
}

.start_here_button a {
  color: white;
}

.start_here_button h3 {
  padding: 0.5rem 0;
}

.banner .learn_daily .start_here_button h3  {
  transition: background-color 0.3s ease;
}

.banner .learn_daily .start_here_button h3:hover  {
  background-color: hsl(210, 91%, 22%);
  border-radius: 10px;
}

.banner .learn_daily .start_here_button h3:active  {
  font-size: 1rem;
    line-height: 1.404rem;
}


/* Information */


.info img {
  border-radius: 4px;
}

.daily_motto {
  line-height: 1.2;
}

.daily_motto h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.daily_motto p {
  line-height: 1.5;
}

.daily_motto .credit {
  font-weight: bold;
  padding: 2rem 0rem;
}

.info .from_us {
  justify-content: flex-start;
  margin-top: -1rem;
}

.info .from_us a:hover {
  color: hsl(210, 91%, 22%);
  font-weight: bold;
}

.info .from_us .item .left_row {
  align-self: flex-start;
}

.info .from_us .item .right_row {
  width: 100%;
}

.info .from_us .item {
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

.info .from_us .item .right_row .content_text {
  padding: 0.5rem 0rem;
  line-height: 1.5;
}


/* Start Learning session */

.start_learning {
  width: 100%;
}

.start_learning .container {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.start_learning h1 {
  text-align: center;
}

.start_learning .course_list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.start_learning .course_list .course {
  width: 30%;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 5px;
}

.start_learning .course_list .course .course_image img {
  width: 100%;
  display: block;
}

.start_learning .course_list .course .course_info {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
  height: 100%;
}

.start_learning .course_list .course .course_info h3 {
  padding: 0.5rem 0;
}

.start_learning .course_list .course .course_info p {
  line-height: 1.5;
}


/* Thesis Exhibits */

.thesis {
  line-height: 1.5;
}

.thesis img {
  border-radius: 5px;
}

.thesis h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.thesis .left_row h3 {
  padding: 1rem 0rem 0.5rem 0rem;
}

.thesis .thesis_right {
  justify-content: flex-start;
  margin-top: -1rem;
}

.thesis .thesis_right .item {
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

.thesis .thesis_right .item .left_row {
  align-self: flex-start;
}

.thesis .thesis_right .item .right_row {
  width: 100%;
}

/* Footer */

footer.container {
  justify-content: space-between;
  margin: 1rem 0rem;
  padding-right: 1rem;
  border-top: 2px solid hsl(210, 91%, 22%);
}

.terms_and_privacy {
  justify-content: space-between;
  max-width: 10rem;
}




/* MOBILE */


@media only screen and (max-width:768px) {

  /* General definitions for mobile devices */

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.408rem;
    font-weight: bold;
  }

  .container {
    padding: 0;
  }

  .container .left_row {
    width: 100%;
  }

  .container .right_row {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
    overflow: hidden;
  }


  /* Header - Mobile */

  nav {
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 10rem;
  }

  nav ul {
    height: 100%;
    justify-content: space-around;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 0;
  }

  nav li img {
    width: 120%;
    height: 120%;
  }

  /* Banner - Mobile */

  .banner .container {
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .banner .container .learn_daily {
    padding: 1rem 1rem 2rem 1rem;
  }

  .banner .learn_daily .start_here_button h3:active  {
    font-size: 1.17rem;
    line-height: 1.7rem;
  }

/* Info Session - Mobile  */

  .from_us.right_row {
    padding: 0;
    width: 100%;
  }

  .info .from_us .item {
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }

  .info .item:last-child {
    background-color: hsl(84, 50%, 92%);
  }

  /* Start Learning - Mobile */

  .start_learning {
    background-color: hsl(84, 50%, 92%);
  }

  .start_learning .container {
    padding: 2rem 1rem;
  }

  .course_list {
    flex-direction: column;
    padding: 2rem 0rem;
  }

  .start_learning .course_list .course {
    width: 100%;
    margin: 0;
  }

  .start_learning .course_list .course .course_info {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(84, 50%, 92%);
  }

  .course h2 {
    background-color: lightgray;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    height: 100%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    transition: opacity 0.5s ease;
  }

  .course h2:hover {
    opacity: 0.5;
  }

  /* Thesis - Mobile */

  .thesis .flex_row {
    flex-direction: column;
  }

  .thesis h1 {
    padding-top: 2rem;
  }

  /* Footer - Mobile */

  footer.flex_row {
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
  }


}
